<h1>Edit Item</h1>
<form method="POST" action="/char/{{charId}}/gear/{{gear._id}}?_method=PATCH">
 <div>
    <label for="name">Name of Item</label>
    <input type="text" name="name" value="{{gear.name}}">
  </div>
  <div>
    <label for="att">Attack</label>
    <input type="text" name="att" value="{{gear.att}}">
  </div>
  <div>
    <label for="spec">Special</label>
    <input type="text" name="spec" value="{{gear.spec}}">
  </div>
  
  <button type="submit">Edit Item</button>
  

</form>
<a href="/char/{{charId}}/gear/{{gear._id}}">Go Back</a>