<h1>Edit Item</h1>
<form method="POST" action="/char/{{char.id}}/gear/{{gear._id}}?_method=PATCH">
 <div>
    <label for="name">Name of Item</label>
    <input type="text" name="name" value="{{gear.name}}">
  </div>
  <div>
    <label for="att">Attack</label>
    <input type="text" name="att" value="{{gear.att}}">
  </div>
  <div>
    <label for="spec">Special</label>
    <input type="text" name="spec" value="{{gear.spec}}">
  </div>
  
  <button type="submit">Save</button>
  

</form>
<button type="submit"><a href="/char/{{char.id}}/gear/{{gear._id}}">Go Back</a></button>
<form method="POST" action="/char/{{char._id}}/gear/{{gear.id}}?_method=DELETE">
  <button type="submit">Delete This Item</button>
</form>