<h1>{{gear.name}}</h1>

<p>{{gear.att}}</p>
<p>{{gear.spec}}</p>

<button type="submit"><a href="/char/{{charId}}/gear/{{id}}/edit">Edit {{gear.name}}</a></button>

<form method="POST" action="/char/{{charId}}/gear/{{gearId}}?_method=DELETE">
  <button type="submit">Delete This Item</button>
</form>