<h1>{{char.name}}</h1>

<p>{{gear.att}}</p>
<p>{{gear.spec}}</p>

<a href="/char/{{char._id}}/gear/{{id}}/edit">Edit {{gear.name}}</a>

<form method="POST" action="/char/{{char._id}}/gear/{{gear._id}}?_method=DELETE">
  <button type="submit">Delete This Item</button>
</form>