<h1>{{gear.name}}</h1>

<p>Attack: {{gear.att}}</p>
<p>Defense: {{gear.def}}</p>
<p>Special: {{gear.spec}}</p>

<button type="submit"><a href="/char/{{char._id}}/gear/{{gear.id}}/edit">Edit {{gear.name}}</a></button>
<br>
<button type="submit"><a href="/char/{{char._id}}/gear">Back</a></button>