<h1>{{char.name}}</h1>
<ul>
  <h3>Attributes</h3>
  <li>Age: {{char.age}}</li>
  <li>Deity: {{char.deity}}</li>
  <li>Alignment: {{char.alignment}}</li>
  <h3>Gear</h3>
  {{#each char.gear}}
    <li>{{name}}</li>
  {{/each}}
</ul>
<button type="submit"><a href="/char/{{char._id}}/edit">Edit {{char.name}}</a></button>
<br>
<button type="submit"><a href="/char/{{char._id}}/gear">Examine Gear</a></button>
<br>
<button type="submit"><a href="/char">Back</a></button>